.spacer
{
    flex: 0.98 auto;
}

.mat-toolbar{
    max-height: 48px;
    background-color:rgb(107, 107, 92);
  }
.mat-button{
    color:rgb(217, 221, 196);
}
.mat-raised-button{
 background-color:rgb(112, 122, 68);
}