<h1 mat-dialog-title>Add User</h1>
<div mat-dialog-content>
    <mat-form-field appearance="legacy">
        <mat-label>User ID</mat-label>
        <input matInput placeholder="User ID">
    </mat-form-field>
    <mat-form-field style="margin-left: 10px" appearance="legacy">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field style="margin-left: 30px" appearance="legacy">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address">
    </mat-form-field>
    <mat-form-field appearance="legacy">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email">
    </mat-form-field>

    <!-- <mat-radio-group style="margin-left: 10px" aria-label="Gender">
        <mat-label>Gender</mat-label>
        <mat-radio-button style="margin-left: 10px"  value="1">Male</mat-radio-button>
        <mat-radio-button style="margin-left: 10px"  value="2">Female</mat-radio-button>
      </mat-radio-group>

      <mat-form-field style="margin-left: 15px" appearance="legacy">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->

</div>

<div mat-Dialog-Action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close> Cancel</button>
    <button (click) = "create('Name Example')" style="margin-left: 8px" mat-raised-button color="primary" mat-dialog-close>Add Resource</button>
</div>
