<mat-toolbar color="primary" class="mat-elevation-z6">
    <span><mat-icon>pin_invoke</mat-icon>CUBE-Resources</span>
    <div class="spacer"></div>

<a mat-button routerLink="home">Home</a>
<a mat-button routerLink="services">About Us</a>
<a mat-button (click)="openDialog('searchresult')">Search Resource</a>
<a mat-button (click)="openDialog('resourcemanagement')">Resource Management</a>
<a mat-raised-button color="primary" routerLink="login">Login</a>
</mat-toolbar> 


<router-outlet></router-outlet>